
<br>
<br>
<div class="aler-alert-primary">
    <div class="container">  
    <h3 style="text-align: center;">User Form</h3>

<form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="form-group">
        <div *ngIf="userForm.controls.userId.errors && 
        (userForm.controls.userId.touched || userForm.controls.userId.dirty)">
            User Id is required
        </div>
        <label for="userId">User Id</label>
        <input class="form-control" type="text" name="userId" id="userId" formControlName="userId">
    </div>
    <br>
    <div class="form-group">
        <div *ngIf="userForm.controls.password.errors && 
        (userForm.controls.password.touched || userForm.controls.password.dirty)">
            Password is required
        </div>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" formControlName="password">
    </div>
    <br>
    <div class="form-group">
        <div *ngIf="userForm.controls.role.errors && 
        (userForm.controls.role.touched || userForm.controls.role.dirty)">
            Role is required
        </div>
        <label for="role">Role</label>
        <select class="form-control" id="role"  name="role"
        formControlName="role" type="text">
        <option value="" selected disabled hidden> Select </option>
        <option value="Customer">Customer</option>
        <option value="Admin">Admin</option>
      </select>
        <!--<input class="form-control" type="text" name="role" id="role" formControlName="role">-->
    </div>
    <br>
    <input type="submit" value="SignUp"  class="btn btn-primary" [disabled]="userForm.invalid">
    
   <!--- <p>Once you signup please fill your Basic Information below</p>

    <input type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:4200/signupascustomer';" value="Customer Information"> &nbsp; &nbsp;
    <input type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:4200/signupasadmin';" value="Admin information">-->
           
</form>
    </div>
</div>


<!--
    <select class="form-control"  name="role" id="role">
            <option>Select</option>
            <option>Customer</option>
          <option>Admin</option>
        </select>
-->
